
<div>
    <h2>
        Basic File Upload
    </h2>
    @using (Html.BeginForm("Index",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
    <form>
        <label for="file">
            Upload File:
            <input type="file" name="file" />
        </label>
        <h2>OR</h2><br />
        <label for="file">
            Paste JSON Here:
        </label><br />
        <label class="form-group-sm">
            <textarea class="form-control" id="inputtext" cols="100" rows="10"></textarea>
        </label><br />
        <input class="btn btn-default" type="submit" value="Upload" />

        <br><br>
    </form>
        @ViewBag.Message
    }
</div>

@Html.Partial("Table");



