@model JsonSlicer.Models.KeyValuePairs

<div>
    <table style="width:100%">
        <caption>Monthly savings</caption>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>

        <tr>
            @*<td>@Model.keyvaluepairs</td>*@
            @*<td>INSERT VALUE VARIABLE</td>*@
        </tr>


    </table>
</div>
